<script type="application/ld+json">
{{- $d := dict
  "@context" "https://schema.org"
  "@type" "Article"
  "headline" .Title
  "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00")
  "dateModified" ((.Lastmod | default .Date).Format "2006-01-02T15:04:05-07:00")
  "description" (.Description | default .Site.Params.description)
  "author" (dict "@type" "Organization" "name" .Site.Title)
  "publisher" (dict "@type" "Organization" "name" .Site.Title)
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
-}}
{{ $d | jsonify | safeJS }}
</script>
